#background {
	background-color: black;
	width: 100%;
}

#all {
	background-color: white;
	width: 1100px;
	height: 650px;
	margin: auto;
	position: relative;
	margin: auto;
}


#halfcon {
	padding: 58px 30px 0;
	width: 550px;
}

.half {
	position: absolute;
	overflow: hidden;
	height: 650px;
	position: absolute;
}

.half h1 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 23px;
	text-align: center;
	text-indent: 6px;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #263238;
}

.tabs {
	width: 80%;
	border-bottom: 1px solid #d9d9d9;
	margin: 0 auto 15px;
}

.tabs .tab {
	width: 163px;
	display: inline-block;
	margin-bottom: -1px;
	padding: 20px 15px 10px;
	cursor: pointer;
	letter-spacing: 0;
	border-bottom: 1px solid #d9d9d9;
	user-select: none;
	transition: all 0.1s ease-in-out;
	display: inline-block;
}

.tab a {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #d9d9d9;
	transition: all 0.1s ease-in-out;
}

#imghalf {
	left: 550px;
}

.inpt1 {
	font-size: 18px;
	display: block;
	width: 75%;
	height: 20px;
	margin: 25px auto 20px;
	padding: 16px 13px;
	color: #999999;
	border: 1px solid #d9d9d9;
	background: transparent;
	border-radius: 2px;
}

.submit {
	font-size: 18px;
	line-height: 42px;
	display: block;
	width: 80%;
	height: 60px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #263238;
	border: 1px solid #263238;
	background: transparent;
	border-radius: 2px;
	margin: 194px auto 0px;
}

#submit1 {
	margin-top: 35px;
}

.submit-wrap .more {
	font-size: 15px;
	display: block;
	margin: 20px auto 0px;
	width: 200px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	color: #999999;
	text-align: center;
}

.content form {
	position: absolute;
	width: 490px;
	height: 287px;
}

.signup-cont {
	display: none;
}

.pass-cont {
	display: none;
}

input.inpt2 {
	margin-left: 50px;
	font-size: 15px;
	display: block;
	width: 200px;
	height: 3px;
	margin-bottom: 10px;
	padding: 16px 13px;
	color: #999999;
	border: 1px solid #d9d9d9;
	background: transparent;
	border-radius: 2px;
}

#inpt23 {
	position: absolute;
	width: 60px;
	height: 36px;
	left: 50px;
	margin-bottom: 10px;
	top:235px;
	left:290px;
}

.idchk {
	font-size: 15px;
	display: block;
	position: absolute;
	width: 100px;
	height: 36px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #263238;
	border: 1px solid #263238;
	background: transparent;
	border-radius: 2px;
	margin: 194px auto 0px;
	top: -194px;
	left: 290px;
}

form span.chkspan {
	font-size: 12px;
	position: absolute;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #263238;
	background: transparent;
	border-radius: 2px;
	margin: 194px auto 0px;
	top: -194px;
	left: 290px;
}
#pass1{
top: -147px;
}
#pass2{
top: -85px;
}
#email{
	top:-50px;
}